__test__/
.git/
.github/
.husky/
.next/
.scannerwork/
@docs/
env/
node_modules/
ops/

.dockerignore
old.eslintignore
old.eslintrc.js
.gitignore
.mise.toml
.prettierignore
.yamllint.yml
bootstrap.sh
Dockerfile
Makefile
npm-debug.log
README.md
sonar-project.properties
vercel.json
src/gql/
